<h1>Papers</h1>

<%= form_with(model: @paper, url: papers_path, local: true) do |form| %>
  <%= form.text_area :title, placeholder: 'Name your upload' %><br>
  <%= form.file_field :pdf %><br><br>
  <%= form.submit 'Create Paper' %><br><br>
<% end %>

<% @papers.each do |paper| %>
  <div>
    <p>Title: <%= paper.title %></p>
    <p>Author: <%= paper.author %></p>
    <p><%= link_to "Destroy", paper_path(paper), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"} %>
    </p>
  </div>
<% end %>

<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
