<div class="container mx-auto px-4 py-8">

  <%= render 'layouts/navbar' %>

  <div class="flex flex-col items-start mb-8 mt-10">
    <h1 class="text-4xl font-semibold">This is your homepage</h1>
    <h2 class="text-1xl">You can upload new papers or view previous ones.</h2>
  </div>

  <div class="flex flex-col items-center mb-8">
    <%= form_with(model: @paper, url: papers_path, local: true, data: { controller: "loading", action: "turbo:submit-start->loading#show" }) do |form| %>
      <div class="mb-4">
        <%= form.file_field :pdf, class: "cursor-pointer py-2 px-4" %>
      </div>
      <div class="mb-6 flex items-center">
        <%= form.submit 'Upload a Paper', class: "cursor-pointer border-2 border-black hover:bg-emerald-100 font-semibold py-2 px-4 rounded-lg ml-28", data: { loading_target: "submitButton" } %>
        <div data-loading-target="spinner" style="display:none">
          <svg class="animate-spin ml-3 h-5 w-5 text-emerald-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
        </div>
      </div>
    <% end %>

    <div class="flex w-1/2">
      <div class="grid grid-cols-1 gap-4 w-full">
        <% if @papers.empty? %>
          <div class="shadow overflow-hidden bg-sky-100 p-4 border-2 border-black rounded-lg min-w-full flex items-center justify-center flex-col">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-12 w-12 text-gray-400 mb-4">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 1a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v12a2 2 0 002 2h3"></path>
            </svg>
            <p class="text-base font-semibold mb-2">Your uploaded papers will appear here.</p>
          </div>
        <% else %>
          <%= render 'papers/papers', papers: @papers %>
        <% end %>
      </div>
    </div>
  </div>
</div>
