<div class="container mx-auto px-4 py-8">
    <nav class="p-4 fixed top-0 left-0 w-full flex justify-end items-center">
      <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "mr-4" %>
    </nav>

  <div class="flex flex-col items-start mb-8 mt-10">
    <h1 class="text-4xl font-semibold">This is your homepage</h1>
    <h2 class="text-1xl">You can upload new papers or view previous ones.</h2>
  </div>

  <div class="flex flex-col items-center mb-8">
    <%= form_with(model: @paper, url: papers_path, local: true) do |form| %>
      <div class="mb-4">
        <%= form.file_field :pdf, class: "cursor-pointer py-2 px-4" %>
      </div>
      <div class="mb-6">
        <%= form.submit 'Upload a Paper', class: "cursor-pointer border-2 border-black font-semibold py-2 px-4 rounded-lg ml-28" %>
      </div>
    <% end %>

    <div class="flex w-1/2">
      <div class="grid grid-cols-1 gap-4 w-full">
        <% if @papers.empty? %>
          <div class="shadow overflow-hidden bg-sky-100 p-4 border-2 border-black rounded-lg min-w-full flex items-center justify-center flex-col">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-12 w-12 text-gray-400 mb-4">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 1a2 2 0 002-2V7a2 2 0 00-2-2H7a2 2 0 00-2 2v12a2 2 0 002 2h3"></path>
            </svg>
            <p class="text-base font-semibold mb-2">Your uploaded papers will appear here.</p>
          </div>
        <% else %>
          <% @papers.each do |paper| %>
            <div class="shadow overflow-hidden bg-sky-100 p-4 border-2 border-black rounded-lg min-w-full">
              <p class="text-base font-semibold mb-2">Title: <%= link_to paper.title, paper_path(paper) %></p>
              <p class="text-base font-semibold mb-2">Author: <%= paper.author %></p>
              <p class="text-red-500 hover:underline"><%= link_to "Delete", paper_path(paper), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"} %>
              </p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
